footer {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 20px;
    padding: 3%;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #0078AA;
    color: #F6F6F6;
}